body {
    background-color: hsl(184, 14%, 56%);
    font-family: 'Space Mono';
}

.button {
    display: inline-block;
    width: 30%;
    background-color: hsl(186, 14%, 43%);
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 10px 50px;
    margin: .15rem;
    font-family: "Space Mono";
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    animation-name: anim;
    animation-duration: 1s;
}

/* add animation to custom button */
.custom:hover {
    background-color: hsl(186, 14%, 43%);
    color: hsl(189, 41%, 97%);
}

/* add animation to reset button */
.reset:hover {
    background-color: hsl(186, 14%, 43%);
    color: hsl(189, 41%, 97%);
    border: 1px solid hsl(189, 41%, 97%);
}

.custom {
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
}

.reset {
    width: 100%;
    background-color: hsl(185, 41%, 84%);
    color:hsl(186, 14%, 43%);
}

@keyframes anim {
    0% {
        background-color: hsl(186, 14%, 43%);
        color: white;
    }
    100% {
        background-color: hsl(189, 41%, 97%);
        color: hsl(183, 100%, 15%);
    }
}

.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 60%;
    
    margin: auto;
    padding: 1rem;
    border-radius: 25px;
}

.card-1 {
    width: 40%;
    padding: 1rem;
}

.card-2 {
    background-color: hsl(186, 14%, 43%);
    border-radius: 25px;
    padding: 1rem;
    width: 30%;
}

input, label {
    display:block;
}

.attribution { font-size: 11px; text-align: center; }
    
.attribution a { color: hsl(228, 45%, 44%); }