body {
    background-color: hsl(184, 14%, 56%);
}

.container {
    background-color: white;
    width: 70%;
    
    margin: auto;
    padding: 1rem;
    border-radius: 25px;
}

.total {
    background-color: hsl(186, 14%, 43%);
    border-radius: 25px;
    padding: 1rem;
}

input, label {
    display:block;
}

.attribution { font-size: 11px; text-align: center; }
    
.attribution a { color: hsl(228, 45%, 44%); }