body {
    background-color: hsl(184, 14%, 56%);
    font-family: 'Space Mono';
}

.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 70%;
    
    margin: auto;
    padding: 1rem;
    border-radius: 25px;
}

.card-1 {
    width: 70%;
}

.card-2 {
    background-color: hsl(186, 14%, 43%);
    border-radius: 25px;
    padding: 1rem;
    width: 30%;
}

input, label {
    display:block;
}

.attribution { font-size: 11px; text-align: center; }
    
.attribution a { color: hsl(228, 45%, 44%); }